In [3]:
d1={'name':'Vaishali','age':21,'gender':'female'}
d2={'name':'vishnu','age':22,'job':'analyst'}
m={**d1,**d2}
print(m)

{'name': 'vishnu', 'age': 22, 'gender': 'female', 'job': 'analyst'}

In [4]:
lis=['mango','banana','apple','grapes']
lis.sort()
print(lis)

['apple', 'banana', 'grapes', 'mango']

In [5]:
fruits=['mango','banana','apple','grapes']
for i,j in enumerate(fruits):
  print(i,j)

0 mango
1 banana
2 apple
3 grapes

In [6]:
a=[[1,2], [3,4], [5,6]]
b=[]
for i in a:
  if type(i)=='list':
    b.extend(i)
  else:
    b.append(i)
print(b)

[[1, 2], [3, 4], [5, 6]]

In [8]:
a=[[1,2], [3,4], [5,6]]
b=[]
for i in a:
  if isinstance(i,list):
    b.extend(i)
  else:
    b.append(i)
print(b)

[1, 2, 3, 4, 5, 6]

In [9]:
with open('file.txt','w') as f:
  for i in range(1,11):
    f.write(str(i**2)+'\\n')