In [1]:
def reverse(l):
  l=l[::-1]
  return l
li=[1,2,3,4,5]
reverse(li)

[5, 4, 3, 2, 1]

In [2]:
liss=[1,2,3,1,1,2,5,6,7,9,6,5]
print(set(liss))

{1, 2, 3, 5, 6, 7, 9}

In [3]:
n1=int(input())
n2=int(input())
try:
  print(n1/n2)
except ZeroDivisionError:
  print("denominator shouldnot be zero")

4
0
denominator shouldnot be zero

In [3]:
n=input('enter file name')
try:
  f=open('filename.txt','r')
  content=f.read()
  print(content)
except FileNotFoundError:
  print('file not found')
finally:
  try:
    f.close()
    print('file closed successfully')
  except NameError:
    print('file not opened')

In [7]:
#mutuable types are changeable even after the objects are created but immutuable types are like once we created the object we cannot change it
#if we want to change we have to create new object for immutuables
#mutuable types eg:list,dictionary,set
#immutuable types eg:string,tuple,Numbers,frozen sets
lis=[1,2,3,4,46,7]
lis[2]=90
lis.pop(3)
lis.remove(7)
print(lis)

[1, 2, 90, 46]

In [9]:
t=(1,2,24,46,7,8)
t.pop(2)
t.remove(3)
t.append(9)
#tuple is immutuable we cant do anything

AttributeError: 'tuple' object has no attribute 'pop'

In [10]:
lis=[1,2,3,4,5,6,7,8,9]
print(sum(lis)/len(lis))

5.0